body{
    font-family: 'Open Sans','Helvetica Neue','Arial','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',"sans-serif";
    font-size: 16px;
}

.tac {
    text-align: center;
}

.footer{
    min-height: 100px;
}